<mat-card class="example-card" *ngIf="post">
  <h2>{{ post.title }}</h2>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" *ngIf="post.author.avtar">
      <img [src]="post.author.avtar" alt="">
    </div>
    <mat-card-title>{{ post.author.name }}</mat-card-title>
    <mat-card-subtitle>{{ post.dateCreated | date: 'dd/MMMM/yyyy' }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="post.featuredImage" [src]="post.featuredImage" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{ post.body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>